page-login {

  .login-form {
    background-image: url('../assets/img/bg.jpg');
    -webkit-background-image: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .login-input-box {
      background-color: rgba(253,252,229, 0.8);

      .item.item-input {
        background-color: transparent;
      }

      width: 70%;
      height: 30%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      margin: auto;

      padding: 5%;

    }

    .login-button {
      position: fixed;
      bottom: 2.5%;
      left: 0;
      width: 100%;
    }
  }
}

