page-login {

  .login-form {
    background-image: url('../assets/img/bg.jpg');
    -webkit-background-image: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .login-input-box {
      background-color: rgba(253,252,229, 0.75);
      display: -webkit-flex; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
      vertical-align: middle;

      .item.item-input {
        background-color: transparent;
      }

      position: absolute;
      margin-top: 40%;
      height: 30%;

    }

    .login-button {
      position: fixed;
      bottom: 2.5%;
      left: 0;
      width: 100%;
    }
  }
}

