page-task-view {
  ion-content, .scroll-content {
    background-image: url('../../assets/img/dash-bg.jpg');
    -webkit-background-image: url('../../assets/img/dash-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  }
}
