<ion-content padding>
  <ion-list class="task-list">
    <ion-list-header id="task-list-header">
      <h1>
        Hello {{owner.getName()}}, <br/>your tasks are here
      </h1>
    </ion-list-header>
    <ion-card *ngFor="let task of userTasks; let i = index" [attr.data-index]="i"
              (click)="openTask(task)"
              class="card-{{getCardColor(i)}}">
      <div class="task-name">{{task.name}}</div>
      <div class="task-info">
        <p>
          Created <span class="task-date">{{task.date}}</span>
        </p>
        <p class="task-description">
          {{task.description}}
        </p>
        <span class="badges">
        <ion-badge class="state-badge">{{task.state}}</ion-badge>
        <ion-badge class="user-owns-task-badge" *ngIf="task.userOwnsIt(owner)">Mine</ion-badge>

      </span>
      </div>
    </ion-card>
  </ion-list>
</ion-content>

