page-home {

  ion-card {
    margin-bottom: 10px;
    padding: 20px;

  }
  
  .task-name {
    font-size: 1.4em;
    text-align: center;
  }

  .task-date {
    font-style: italic;
  }

  .task-description {

  }

  .header .toolbar-title {
    text-align: center;
    font-size: large;
  }


  ion-refresher-content {
    background-color: rgba(48, 48, 0, 0.5);
  }
}
