page-home {

  #task-list-header {
    text-align: center;
    background-color: rgb(255, 255, 0);
    color: #555555;
    font-style: italic;

  }


  ion-card {
    margin-bottom: 10px;
    padding: 20px;

  }

  .card-blue {
    background-color: rgba(72, 138, 255, 0.8);
  }

  .card-red {
    background-color: rgba(255, 96, 15, 0.8);
  }

  .card-green {
    background-color: rgba(0,255,19,0.8);
  }

  .state-badge {
    background-color: #7539ff;
  }

  .task-name {
    font-size: 1.4em;
    text-align: center;
  }

  .task-date {
    font-style: italic;
  }

  .task-description {

  }

  ion-header {
    text-align: center;
  }

  ion-content, .scroll-content {
    background-image: url('../../assets/img/dash-bg.jpg');
    -webkit-background-image: url('../../assets/img/dash-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  }

  ion-refresher-content {
    background-color: rgba(255, 254, 0, 0.5);
  }
}
