<ion-content padding>
  <ion-list>
    <ion-list-header>
      <h1>Pending tasks</h1>
    </ion-list-header>
    <button ion-item *ngFor="let task of userTasks" (click)="openTask(task)">
      <h2 class="task-name">
        {{task.name}}
      </h2>
      <p>
        Created <span class="task-date">{{task.date}}</span>
      </p>
      <br/>
      <p class="task-description">
        {{task.description}}
      </p>
      <span class="badges">
        <ion-badge>{{task.state}}</ion-badge>
        <ion-badge *ngIf="task.userOwnsIt(owner)" color="red">Mine</ion-badge>

      </span>


    </button>
  </ion-list>
</ion-content>

