// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Card colors for the dashboard and the single task viewer
.card-blue {
  background-color: rgba(72, 138, 255, 0.7);
}

.card-red {
  background-color: rgba(255, 96, 15, 0.7);
}

.card-green {
  background-color: rgba(0,255,19,0.7);
}

.card-yellow {
  background-color: rgba(255, 255, 0, 0.71);
}

// Badges indicating current status and ownership
.state-badge {
  background-color: crimson;
}

.task-ownership-badge {
  background-color: darkblue;
}
//override
.bottom-button {
  background-color: darkred;
}

.bottom-button:hover {
  background-color: rgb(175,0,0);
}

.bricks {
  ion-refresher, .scroll-content {
    background-image: url('../assets/img/dash-bg.jpg');
    -webkit-background-image: url('../assets/img/dash-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

}

.login-form {
  background-image: url('../assets/img/bg.jpg');
  -webkit-background-image: url('../assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

